node_modules
**/node_modules

dist
**/dist

build
**/build

.git
.gitignore

.env
.env.*
!.env.example

*

!package.json
!package-lock.json
!tsconfig.json

!client/**
!server/**
!shared/**
!nginx.conf

**/node_modules
**/dist

**/.env
**/.env.*
!**/.env.example

.git